<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>Exemplos de métodos HTTP:</h1>

    <h2>GET</h2>
    <form action="/metodoGET" method="GET">
        <button type="submit"> GET request</button>
    </form>

    <h2>POST</h2>
    <form action="/metodoPOST" method="POST">
        <button type="submit"> POST request</button>
    </form>

    <h2>PUT</h2>
    <form action="/metodoPUT" method="POST">
        <input type="hidden" name="_method" value="PUT">
        <button type="submit">PUT request</button>
    </form>

    <h2>DELETE</h2>
    <form action="/metodoDELETE" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit"> DELETE request</button>
    </form>
</body>

</html>