<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja de Informática</title>
</head>

<body>
    <h1>Loja de Informática</h1>
    <form action="/editarproduto" method="POST">
        <label for="id">Id do produto:</label>
        <input type="text" id="id" name="id" required><br><br>
        <label for="nome">Nome do produto:</label>
        <input type="text" id="nome" name="nome" required><br><br>
        <label for="preco">Preço do produto:</label>
        <input type="text" id="preco" name="preco" required><br><br>
        <label for="quantidade">Quantidade do produto:</label>
        <input type="text" id="quantidade" name="quantidade" required><br><br>
        <label for="descricao">Descrição do produto:</label>
        <textarea name="descricao" id="descricao" required></textarea><br><br>
        <button type="submit">Atualizar dados</button>
    </form>
</body>

</html>