<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja de Informática</title>
</head>

<body>
    <h1>Loja de Informática</h1>
    <form action="/excluirproduto" method="POST">
        <label for="id">Digite o Id do produto para exclusão</label>
        <input type="text" id="id" name="id" placeholder="Id do produto" required>
        <button type="submit">Excluir</button>
    </form>
</body>

</html>