<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja de Informática</title>
</head>

<body>
    <h1>Loja de Informática</h1>
    <form action="/pesquisarproduto" method="POST">
        <label for="id">Digite o Id ou o nome do produto para pesquisa: </label>
        <input type="text" id="id" name="pesquisa" placeholder="" required>
        <button type="submit">Procurar</button>
    </form>
</body>

</html>