<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora</title>
</head>

<body>
    <h1>Calculadora</h1>
    <form action="/calcular" method="POST">
        <input type="text" placeholder="Digite o primeiro número" name="primeironumero" required>
        <input type="text" placeholder="Digite o segundo número" name="segundonumero" required><br><br>

        <button type="submit" name="operacao" value="soma">+ Soma</button>
        <button type="submit" name="operacao" value="subtracao">- Subtração</button>
        <button type="submit" name="operacao" value="multiplicacao">* Multiplicação</button>
        <button type="submit" name="operacao" value="divicao">/ Divisão</button>

    </form>

    {% if resultadoOperacoes > 0 %}
    <p>Resultado: {{ resultadoOperacoes }}</p>
    {% endif %}

</body>

</html>